.quality {
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.sertifikate-group {
  display: flex;
}
.images-sertificates {
    margin-right: 20px;
    gap: 20px;
    padding-right: 20px;
}
.title-quality {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 21px;
}
